@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* Header section Start */
.nav-contrainer {
    display: flex;
    max-width: 1440px;
    margin: 30px auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
   
}

.logo-img {
    height: 40px;
    object-fit: cover;
}

.logo-description {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.game {
   color: #FF42A5;
}

.nav-items {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.nav-items li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;   
}

.follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 16px;
}

.fa-youtube {
    color: #f61c0d;
}

/* End of Header section */
/* Banner section Start */
.banner-section {
    background-color: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    
}

.banner-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;  
}
.banner-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin-top: 150px;
    margin-bottom: 140px;
}

.banner-img {
    width: 50%;   
}
.banner-img img {
    width: 100%;
}

.banner-title {
    display: inline;
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
    padding-top: 50px;
}

.banner-goat {
    
    font-size: 90px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-list {
    text-align: left;
    list-style: square;
    font-size: 20px;
    font-weight: 500;
}
.banner-button {
    display: flex;
    gap: 5PX;
}
.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    border: none;
    padding: 20px 40px;
}

#sign-in {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
#go-rogue {
    background: #4EC5F7;
}
/* End of Banner section */
/*  */
.online-games-container {
    text-align: center;
    max-width: 1440px;
    margin: 20px auto;
}
.online-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
#funny {
    font-size: 40px;
}
#online-des {
    text-align: center;
}
.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.cards-container img {
   border-radius: 16px; 
}
/*  */
/* play-instantly section Start */
.play-instantly {
   
}
.play-instantly-container {
    display: flex;
    max-width: 1440px;
    margin: 30px auto;   
}
.play-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.play-title {
    text-align: right;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.play-item {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.play-instantly-img {
    width: 50%;
    position: relative;
}
.play-instantly-img img {
    width: 80%; 
}

.play-instantly-img .img-top {
    width: 45%;
    position: absolute;
    bottom: -10%;
    left: -15%;
}

/* End of play-instantly section */
/*  */
.games-container  {
    max-width: 1440px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 25px;
    align-content: center;
}

.games-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   margin-bottom: 20px;
   cursor: pointer;
}
.games-item:hover  {
   border:2px solid #F948B2;
   border-radius: 30px;
}
.game-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.game-img:hover {
    width: 30%;
    object-fit: cover;
}
.games-title {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 5px;
    cursor: pointer;
}
.games-title:hover {
    color: #f61c0d;
}
/*  */
/* Footer section Start */
.footer-section {
    background: #0B0223;
}
.footer-container {
    max-width: 1440px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1rem;
}
#footer-logo {
     width: 100%;  
}

#item {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 700;
}
.footer-content {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
   
}
.footer-content span {
  padding: 2.5rem;
}
.fa-twitter,.fa-square-instagram,.fa-apple {
    color: #FFF;
}
.fa-facebook {
    color: #1877f2;
}
.footer-icon {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}
.footer-icon span {
    padding: 2.5rem;
}
.footer-condition {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2rem; 
}
.footer-condition span {
    padding: 1rem;
}
.footer-end {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 1.5rem;
}